* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(63, 133, 212);

  display: flex;
}

#root {
  background-color: #fff;
  width: 390px;
  height: 843px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*! 시작 페이지 */
#start-logo {
  font-size: 30px;
}
/*! 로그인 페이지 */
#login-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 상단 북스타그램 로고 */
#login-page > div:nth-child(1) {
  font-size: 30px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ID, PWD 입력란 */
#login-page > div:nth-child(2) {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -90px;
}
/* 로그인 버튼 */
#login-page > button {
  width: 128px;
  height: 37px;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  background-color: #D9D9D9;
  transition: 0.5s;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  margin-top: 10px;
}
#login-page > button:hover {
  background-color: rgb(143, 143, 143);
}
#login-page > button:active {
  background-color: #fff;
}
/* 중간 실선 부분 */
#login-page > div:nth-child(4) {
  width: 80%;
  height: 2px;
  margin-top: 30px;
  background-color: black;
}
/* 회원가입 및 계정 찾기 */
#login-page > div:nth-child(5) {
  height: 45%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* sign up with google ~ sign up 버튼*/
#login-page > div:nth-child(5) >button:nth-child(1),
#login-page > div:nth-child(5) >button:nth-child(2),
#login-page > div:nth-child(5) >button:nth-child(3)
{
  margin-top: 2px;
  width: 110%;
  height: 43px;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  background-color: #D9D9D9;
  transition: 0.5s;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
}
#login-page > div:nth-child(5) >button:nth-child(1):hover,
#login-page > div:nth-child(5) >button:nth-child(2):hover,
#login-page > div:nth-child(5) >button:nth-child(3):hover {
  background-color: rgb(143, 143, 143);
}
#login-page > div:nth-child(5) >button:nth-child(1):active,
#login-page > div:nth-child(5) >button:nth-child(2):active,
#login-page > div:nth-child(5) >button:nth-child(3):active {
  background-color: #fff;
}
/* forgot account? */
#login-page > div:nth-child(5) > p {
  text-decoration: underline;
  color: #D9D9D9;
}

/* 리액트 컴포넌트 객체용 스타일링 */
.myBtn:active {
  background-color: #fff;
}